@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$primary-color: #ffffff;
$secondary-color: #f4f4f4;
$text-color: #333;
$input-bg: #eaeaea;
$border-color: #ccc;

.diario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $primary-color;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h1 {
        color: $text-color;
        margin-bottom: 20px;
        font-size: 2rem;
        text-align: center;
    }

    input[type="date"] {
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        max-width: 300px;
        background-color: $input-bg;
        color: $text-color;
        margin-bottom: 15px;
        font-size: 1rem;
        
        &:focus {
            outline: none;
            border-color: $text-color;
        }
    }

   
        .in2 {
            width: 67.5dvh; 
            height: 21dvh;
            margin-top: 2dvh;
            border: 2px solid #635874; 
            color: #635874; 
            outline: none;
            font-size: 2.3dvh;
            font-family: "Roboto", serif;
            font-weight: 300;
            font-style: normal;
            resize: none;
            box-sizing: border-box; 
        }
}
